# Importing the combined data frame

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#creating a path string

path =r"C:\Users\Lemlem TH\Desktop\CareerFoundry\Course\Data Immersion\Achievement 4\Instacart Basket Analysis"

In [3]:
# Step 3: importing the 'orders_products_combined' pkl dataset 

df_orders_products_combined=pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data','orders_products_combined.pkl' ))

In [4]:
#Step 4 Check the shape of the imported dataframe

df_orders_products_combined.shape

(32434489, 11)

In [5]:
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_at_time_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,2539329,1,1,2,8,0.0,26405,5,0,both

In [6]:
# Step 5 Determine a suitbale way to combine the orders_products_combined dataframe with your productsdata set
# first import the products_checked.csv data 

df_products_checked=pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data','products_checked.csv' ))

In [7]:
df_products_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
# Dropping the _merge column from df_orders_products_combined dataframe to prepare the dataframe for further merging

df_orders_products_combined.drop(columns=['_merge', 'Unnamed: 0'], inplace=True)

In [9]:
# Check out to see memory usage

df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   hour_at_time_of_order   int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
dtypes: float64(1), int64(8)
memory usage: 2.2 GB

In [10]:
# Change types of for df_orders_products_combined dataset

df_orders_products_combined['order_id']=df_orders_products_combined['order_id'].astype('int32')
df_orders_products_combined['user_id'] = df_orders_products_combined['user_id'].astype('int32')
df_orders_products_combined['order_number']=df_orders_products_combined['order_number'].astype('int8')
df_orders_products_combined['orders_day_of_week']=df_orders_products_combined['orders_day_of_week'].astype('int8')
df_orders_products_combined['hour_at_time_of_order']=df_orders_products_combined['hour_at_time_of_order'].astype('int8')
df_orders_products_combined['days_since_prior_order']=df_orders_products_combined['days_since_prior_order'].astype('float16')
df_orders_products_combined['product_id']=df_orders_products_combined['product_id'].astype('int32')
df_orders_products_combined['add_to_cart_order'] = df_orders_products_combined['add_to_cart_order'].astype('int32')
df_orders_products_combined['reordered'] =df_orders_products_combined['reordered'].astype('int32')

In [11]:
# Check out to see memory usage

df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   hour_at_time_of_order   int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int32
dtypes: float16(1), int32(5), int8(3)
memory usage: 773.3 MB

In [12]:
# merging the df_ords_products_combined dataframe with the df_products_checked dataframe

df_ords_prods_merge=df_orders_products_combined.merge(df_products_checked, on='product_id', indicator=True)

In [15]:
df_ords_prods_merge.shape

(32404859, 15)

In [13]:
# Step 6 Confirm the results of the merge using the merge flag

df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [14]:
# Step 7 Export the newly created dataframe as ords_prods_merge

df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))